.categories {
  margin: 30px 0;
}
.categories__title {
}
.categories__list {
  overflow-x: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.categories__list::-webkit-scrollbar {
  width: 0 !important;
}

.categories__category {
  margin-right: 15px;
  padding: 8px 20px;
  border-radius: 25px;
  border: none;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.categories__category__img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
